<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title th:text="#{detail}"></title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-slate-50">
    <div class="max-w-screen-lg mx-auto px-4 drop-shadow-lg bg-white pb-4">
      <header
        class="flex items-center px-4 py-8 bg-blue-500 rounded-b-lg shadow"
      >
        <h1
          th:text="${boek.titel}"
          class="text-2xl font-bold text-slate-50 mr-6"
        ></h1>
        <a
          class="text-slate-50 hover:text-slate-200 border-l border-slate-50 pl-4"
          th:href="@{/catalogus}"
          th:text="#{terug}"
        ></a>
        <div class="ml-auto flex gap-4 items-center">
          <div class="flex flex-col items-end">
            <p
              th:text="|#{welkom}, ${user.username}|"
              class="text-slate-50"
            ></p>
            <p
              th:if="${user.role.toString() == 'ADMIN'}"
              th:text="#{rechten.admin}"
              class="text-slate-50"
            ></p>
            <p
              th:unless="${user.role.toString() == 'ADMIN'}"
              th:text="#{rechten.user}"
              class="text-slate-50"
            ></p>
          </div>
          <form th:action="@{/logout}" method="post">
            <input
              class="px-2 py-1 bg-slate-50 text-blue-500 rounded hover:bg-slate-200 hover:text-blue-600 cursor-pointer"
              type="submit"
              th:value="#{logout}"
            />
          </form>
        </div>
      </header>

      <div class="p-2">
        <p
          th:text="|#{auteurs}: ${#strings.listJoin(boek.auteurs, ', ')}|"
          class="text-gray-600 mb-4"
        ></p>
        <p th:text="|#{isbn}: ${boek.isbn} |" class="text-gray-600 mb-4"></p>
        <p
          th:text="|#{prijs}: &euro; ${#numbers.formatDecimal(boek.aankoopPrijs, 1, 'POINT', 2, 'COMMA')} |"
          class="text-gray-600 mb-4"
        ></p>
        <p
          th:text="|#{sterren}: ${boek.aantalSterren} |"
          class="text-gray-600 mb-4"
        ></p>
        <p th:text="|#{locaties}:|" class="text-gray-600"></p>
        <ul class="list-disc ml-8 text-gray-600">
          <li
            th:each="locatie : ${boek.locaties}"
            th:text="${locatie}"
            class="text-gray-600"
          ></li>
        </ul>
      </div>
    </div>
  </body>
</html>
