<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Bibliotheek</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <h1>De Favorieten</h1>
        <a th:href="@{/}"> Terug naar catalogus </a>
      </header>

      <div th:each="boek : ${listBoeken}" class="book">
        <h2 th:text="${boek.titel}" class=""></h2>
        <p th:text="${boek.auteurs}"></p>
        <a th:href="@{/toonDetailBoekForm/{id}(id=${boek.id})}">Detail</a>
      </div>
    </div>
  </body>
</html>
