<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Bibliotheek</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <h1>Bibliotheek</h1>
        <a th:href="@{/favorieten}">Favorieten</a>
        <th:block th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
          <a th:href="@{/nieuwBoek}">Nieuw boek</a>
        </th:block>
        <form th:action="@{/logout}" method="post">
          <input type="submit" value="Logout" />
          <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}"
          />
        </form>
      </header>

      <p th:text="|Hello ${username}|"></p>

      <div th:each="boek : ${listBoeken}" class="book">
        <h2 th:text="${boek.titel}"></h2>
        <p th:text="${boek.auteurs}"></p>
        <a th:href="@{/detail/{id}(id=${boek.id})}">Detail</a>
      </div>
    </div>
  </body>
</html>
