<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <h1>Welkom, gelieve in te loggen.</h1>
      <div class="login">
        <div th:if="${error}" class="error" th:text="${error}"></div>
        <div th:if="${msg}" class="msg" th:text="${msg}"></div>
        <form action="#" th:action="@{/login}" method="post">
          <table>
            <tr>
              <td>User:</td>
              <td><input type="text" name="username" value="" /></td>
            </tr>
            <tr>
              <td>Password:</td>
              <td><input type="password" name="password" /></td>
            </tr>
            <tr>
              <td colspan="2">
                <button name="submit" type="submit">Login</button>
              </td>
            </tr>
          </table>
          <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
        </form>
      </div>
    </div>
  </body>
</html>
