<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Nieuw Boek</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-slate-50">
    <div class="max-w-screen-lg mx-auto px-4 drop-shadow-lg bg-white pb-4">
      <header
        class="flex items-center px-4 py-8 bg-blue-500 rounded-b-lg shadow"
      >
        <h1 class="text-3xl font-bold text-slate-50 mr-6">Nieuw boek</h1>
        <a
          class="mr-4 text-slate-50 hover:text-slate-200 border-l border-slate-50 pl-4"
          th:href="@{/}"
          >Terug naar catalogus</a
        >
        <form th:action="@{/logout}" method="post" class="ml-auto">
          <input
            class="px-2 py-1 bg-slate-50 text-blue-500 rounded hover:bg-slate-200 hover:text-blue-600 cursor-pointer"
            type="submit"
            value="Logout"
          />
          <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}"
          />
        </form>
      </header>

      <form
        action="#"
        th:action="@{/saveBoek}"
        th:object="${boek}"
        method="POST"
        class="grid grid-cols-4 gap-2 p-4 bg-white rounded shadow mt-4"
      >
        <label for="titel" class="col-span-2">Titel</label>
        <label for="isbn" class="col-span-2">ISBN</label>

        <input
          type="text"
          placeholder="Titel"
          th:field="*{titel}"
          id="titel"
          class="col-span-2 border-2 border-black rounded px-2 py-1"
        />

        <input
          type="text"
          placeholder="ISBN"
          th:field="*{isbn}"
          id="isbn"
          class="col-span-2 border-2 border-black rounded px-2 py-1"
        />

        <label for="auteur1" class="col-span-2">Auteur 1</label>
        <label for="auteur2" class="col-span-2">Auteur 2</label>
        <input
          type="text"
          th:field="*{auteurs[0].voornaam}"
          placeholder="Voornaam auteur 1"
          class="col-span-1 border-2 border-black rounded px-2 py-1"
        />
        <input
          type="text"
          th:field="*{auteurs[0].naam}"
          placeholder="Achternaam auteur 1"
          class="col-span-1 border-2 border-black rounded px-2 py-1"
        />

        <input
          type="text"
          th:field="*{auteurs[1].voornaam}"
          placeholder="Voornaam auteur 2"
          class="col-span-1 border-2 border-black rounded px-2 py-1"
        />
        <input
          type="text"
          th:field="*{auteurs[1].naam}"
          placeholder="Achternaam auteur 2"
          class="col-span-1 border-2 border-black rounded px-2 py-1"
        />
        <!-- <label for="auteur3">Auteur 3</label>
        <div>
          <input
            type="text"
            th:field="*{auteurs[2].voornaam}"
            placeholder="Voornaam auteur 3"
          />
          <input
            type="text"
            th:field="*{auteurs[2].naam}"
            placeholder="Achternaam auteur 3"
          />
        </div> -->

        <label for="aankoopPrijs" class="col-span-2">Aankoopprijs</label>
        <input
          type="number"
          placeholder="Aankoopprijs"
          th:field="*{aankoopPrijs}"
          id="aankoopPrijs"
          min="0"
          step="0.01"
          class="col-span-2 border-2 border-black rounded px-2 py-1 col-start-1"
        />

        <!-- <label for="locaties">Locaties</label>
        <div>
          <input
            type="number"
            th:field="*{locaties[0].code1}"
            placeholder="Code 1"
          />
          <input
            type="text"
            th:field="*{locaties[0].code2}"
            placeholder="Code 2"
          />
          <input
            type="text"
            th:field="*{locaties[0].plaatsnaam}"
            placeholder="Plaatsnaam"
          />
        </div>
        <div>
          <input
            type="number"
            th:field="*{locaties[1].code1}"
            placeholder="Code 1"
          />
          <input
            type="text"
            th:field="*{locaties[1].code2}"
            placeholder="Code 2"
          />
          <input
            type="text"
            th:field="*{locaties[1].plaatsnaam}"
            placeholder="Plaatsnaam"
          />
        </div>
        <div>
          <input
            type="number"
            th:field="*{locaties[2].code1}"
            placeholder="Code 1"
          />
          <input
            type="text"
            th:field="*{locaties[2].code2}"
            placeholder="Code 2"
          />
          <input
            type="text"
            th:field="*{locaties[2].plaatsnaam}"
            placeholder="Plaatsnaam"
          />
        </div> -->

        <button
          type="submit"
          class="col-start-4 inline-block px-4 py-1 bg-blue-500 text-white rounded hover:bg-blue-700"
        >
          Maak nieuw boek aan
        </button>
      </form>
    </div>
  </body>
</html>
