<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title th:text="#{nieuwBoek}"></title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-slate-50">
    <div
      class="max-w-screen-lg min-h-fit mx-auto px-4 drop-shadow-lg bg-white pb-4"
    >
      <header
        class="flex items-center px-4 py-8 bg-blue-500 rounded-b-lg shadow"
      >
        <h1
          th:text="#{nieuwBoek}"
          class="text-3xl font-bold text-slate-50 mr-6"
        ></h1>
        <a
          class="mr-4 text-slate-50 hover:text-slate-200 border-l border-slate-50 pl-4"
          th:href="@{/catalogus}"
          th:text="#{terug}"
        ></a>
        <div class="ml-auto flex gap-4 items-center">
          <div class="flex flex-col items-end">
            <p
              th:text="|#{welkom}, ${user.username}|"
              class="text-slate-50"
            ></p>
            <p
              th:if="${user.role.toString() == 'ADMIN'}"
              th:text="#{rechten.admin}"
              class="text-slate-50"
            ></p>
            <p
              th:unless="${user.role.toString() == 'ADMIN'}"
              th:text="#{rechten.user}"
              class="text-slate-50"
            ></p>
          </div>
          <form th:action="@{/logout}" method="post">
            <input
              class="px-2 py-1 bg-slate-50 text-blue-500 rounded hover:bg-slate-200 hover:text-blue-600 cursor-pointer"
              type="submit"
              th:value="#{logout}"
            />
          </form>
        </div>
      </header>

      <form
        action="#"
        th:action="@{/nieuwBoek}"
        th:object="${boek}"
        method="POST"
        class="flex flex-col gap-2 p-4 mt-4 max-w-screen-sm mx-auto bg-slate-50 rounded drop-shadow-md"
      >
        <div class="flex flex-col gap-1">
          <label
            for="titel"
            class="text-gray-600"
            th:text="|#{titel}:|"
          ></label>
          <input
            type="text"
            th:placeholder="#{titel}"
            th:field="*{titel}"
            id="titel"
            class="border rounded px-2 py-1 text-gray-600"
          />
          <span
            th:if="${#fields.hasErrors('titel')}"
            th:errors="*{titel}"
            class="text-red-500 text-sm"
          ></span>
        </div>

        <div class="flex gap-2">
          <div class="flex flex-col gap-1 w-3/4">
            <label
              for="isbn"
              class="text-gray-600"
              th:text="|#{isbn}:|"
            ></label>
            <input
              type="text"
              th:placeholder="#{isbn}"
              th:field="*{isbn}"
              id="isbn"
              class="border rounded px-2 py-1 text-gray-600"
            />
            <span
              th:if="${#fields.hasErrors('isbn')}"
              th:errors="*{isbn}"
              class="text-red-500 text-sm"
            >
            </span>
          </div>

          <div class="flex flex-col gap-1 w-1/4">
            <label
              for="prijs"
              class="text-gray-600"
              th:text="|#{prijs}:|"
            ></label>
            <input
              type="text"
              th:placeholder="#{prijs}"
              th:field="*{aankoopPrijs}"
              id="prijs"
              class="border rounded px-2 py-1 text-gray-600"
            />
            <div
              th:if="${#fields.hasErrors('aankoopPrijs')}"
              class="text-red-500 text-sm"
            >
              <span th:errors="*{aankoopPrijs}"></span>
            </div>
          </div>
        </div>

        <label
          for="auteurs"
          th:text="|#{auteurs}:|"
          class="text-gray-600 mt-4"
        ></label>

        <div class="flex gap-2 items-center">
          <input
            type="text"
            th:field="*{auteurs[0].voornaam}"
            th:placeholder="|#{voornaam} 1|"
            id="auteurs"
            class="border rounded px-2 py-1 text-gray-600"
          />
          <input
            type="text"
            th:field="*{auteurs[0].naam}"
            th:placeholder="|#{achternaam} 1|"
            id="auteurs"
            class="border rounded px-2 py-1 text-gray-600"
          />
        </div>

        <div
          th:if="${#fields.hasErrors('auteurs') && !#fields.hasErrors('auteurs[0]')}"
          class="text-red-500 text-sm"
        >
          <span th:errors="*{auteurs}"></span>
        </div>

        <div class="flex gap-2 items-center">
          <input
            type="text"
            th:field="*{auteurs[1].voornaam}"
            th:placeholder="|#{voornaam} 2|"
            id="auteurs"
            class="border rounded px-2 py-1 text-gray-600"
          />
          <input
            type="text"
            th:field="*{auteurs[1].naam}"
            th:placeholder="|#{achternaam} 2|"
            id="auteurs"
            class="border rounded px-2 py-1 text-gray-600"
          />
        </div>

        <div class="flex gap-2 items-center">
          <input
            type="text"
            th:field="*{auteurs[2].voornaam}"
            th:placeholder="|#{voornaam} 3|"
            id="auteurs"
            class="border rounded px-2 py-1 text-gray-600"
          />
          <input
            type="text"
            th:field="*{auteurs[2].naam}"
            th:placeholder="|#{achternaam} 3|"
            id="auteurs"
            class="border rounded px-2 py-1 text-gray-600"
          />
        </div>

        <label
          for="locaties"
          th:text="|#{locaties}:|"
          class="text-gray-600 mt-4"
        ></label>

        <div class="flex gap-2 items-center">
          <input
            type="text"
            th:field="*{locaties[0].code1}"
            id="locaties"
            class="border rounded px-2 py-1 text-gray-600 w-16"
          />
          <input
            type="text"
            th:field="*{locaties[0].code2}"
            id="locaties"
            class="border rounded px-2 py-1 text-gray-600 w-16"
          />
          <input
            type="text"
            th:field="*{locaties[0].plaatsnaam}"
            th:placeholder="|#{plaatsnaam} 1|"
            id="locaties"
            class="border rounded px-2 py-1 text-gray-600"
          />
        </div>

        <div
          th:if="${#fields.hasErrors('locaties') && !#fields.hasErrors('locaties[0]')}"
          class="text-red-500 text-sm"
        >
          <span th:errors="*{locaties}"></span>
        </div>
        <span
          th:if="${#fields.hasErrors('locaties[0].code1') || #fields.hasErrors('locaties[0].code2') || #fields.hasErrors('locaties[0].plaatsnaam')}"
          th:errors="*{locaties[0]}"
          class="text-red-500"
        ></span>

        <div class="flex gap-2 items-center">
          <input
            type="text"
            th:field="*{locaties[1].code1}"
            id="locaties"
            class="border rounded px-2 py-1 text-gray-600 w-16"
          />
          <input
            type="text"
            th:field="*{locaties[1].code2}"
            id="locaties"
            class="border rounded px-2 py-1 text-gray-600 w-16"
          />
          <input
            type="text"
            th:field="*{locaties[1].plaatsnaam}"
            th:placeholder="|#{plaatsnaam} 2|"
            id="locaties"
            class="border rounded px-2 py-1 text-gray-600"
          />
        </div>

        <span
          th:if="${#fields.hasErrors('locaties[1].code1') || #fields.hasErrors('locaties[1].code2') || #fields.hasErrors('locaties[1].plaatsnaam')}"
          th:errors="*{locaties[1]}"
          class="text-red-500"
        ></span>

        <div class="flex gap-2 items-center">
          <input
            type="text"
            th:field="*{locaties[2].code1}"
            id="locaties"
            class="border rounded px-2 py-1 text-gray-600 w-16"
          />
          <input
            type="text"
            th:field="*{locaties[2].code2}"
            id="locaties"
            class="border rounded px-2 py-1 text-gray-600 w-16"
          />
          <input
            type="text"
            th:field="*{locaties[2].plaatsnaam}"
            th:placeholder="|#{plaatsnaam} 3|"
            id="locaties"
            class="border rounded px-2 py-1 text-gray-600"
          />
        </div>

        <span
          th:if="${#fields.hasErrors('locaties[2].code1') || #fields.hasErrors('locaties[2].code2') || #fields.hasErrors('locaties[2].plaatsnaam')}"
          th:errors="*{locaties[2]}"
          class="text-red-500"
        ></span>

        <button
          type="submit"
          class="col-start-4 inline-block px-6 py-1 bg-blue-500 text-white rounded hover:bg-blue-700 mt-4 max-w-fit shadow-lg"
          th:text="#{opslaan}"
        ></button>
      </form>
    </div>
  </body>
</html>
